.sidebarMain {
  height: 100%;
  width: 100%;
  padding-top: 15px;
}
.sidebarMain--logo-wrapper > img {
  height: 40px;
}
.sidebarMain--logo-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.updateIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 1.2%;
}

.updateIcon a {
  margin: 0px;
}
.updateIcon p {
  font-size: 15px;
  color: var(--primary);
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #a1a1a1;
  margin-top: 5px;
}
