.sidebarOption {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0px auto;
  cursor: pointer;
  padding: 13px;
  margin-top: 1px;
  position: relative;
  margin-bottom: 0.55em;
  transition: background 0.1s ease-in-out;
}

.sidebarOption > img:first-of-type {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  opacity: 0.5;
}
.sidebarOption > img:last-of-type {
  height: 23px;
  width: 28px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.sidebarOption.activeLink,
.sidebarOption:hover {
  background: #0d0027;
}
.sidebarOption.activeLink > img:last-of-type,
.sidebarOption:hover > img:last-of-type {
  opacity: 1;
}
.sideBarOptionNotLink > img {
  height: 30px;
  background: var(--primary);
  border-radius: 100%;
}
.img {
  width: 100%;
  height: 100%;
}

.activeimage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeimage > img {
  width: 28px;
  height: 23px;
}