.joiner-custom-toggle {
  display: flex;
  align-items: center;
}
.joiner-custom-toggle > label {
  font-weight: 500;
  font-size: 11.688px;
  line-height: 18px;
  color: var(--placeholder);
  margin-left: 10px;
}

/* react section css */
.react-joiner-setting-section {
  display: flex;
  justify-content: space-between;
}
.react-joiner-setting-section > div {
  width: 32%;
}

.react-joiner-setting-section.show {
  animation: expand 1s ease forwards;
}

.accept-joiner-setting-section.show {
  animation: expandArea 1s ease forwards;
}

@keyframes expandArea {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: 136px;
    opacity: 1;
  }
}
@keyframes expand {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: 78px;
    opacity: 1;
  }
}
