.joiner-custom-toggle {
  display: flex;
  align-items: center;
}
.joiner-custom-toggle > label {
  font-weight: 500;
  font-size: 11.688px;
  line-height: 18px;
  color: var(--placeholder);
  margin-left: 10px;
}

/* react section css */
.react-joiner-setting-section {
  display: flex;
  justify-content: space-between;
}
.react-joiner-setting-section > div {
  width: 32%;
}

.react-joiner-setting-section.show {
  animation: expand 1s ease forwards;
}

.accept-joiner-setting-section.show {
  animation: expandArea 1s ease forwards;
}

@keyframes expandArea {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: 136px;
    opacity: 1;
  }
}
@keyframes expand {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: 78px;
    opacity: 1;
  }
}

/* emoji css */
.emoji-picker-wrapper {
  position: relative;
}
.emoji-tray-picker {
  position: absolute;
  top: -100%;
  left: 110%;
  width: 400px;
}

.direct-join-column-wrapper {
  display: flex;
  justify-content: space-between;
}
.direct-join-column {
  width: 32%;
}
.joiner-custom-input > label {
  color: var(--primary);
  font-weight: 500;
  font-size: 13.525px;
  line-height: 26px;
}
