.input-field-container > label {
  font-weight: 500;
  font-size: 13.149px;
  line-height: 20px;
  color: var(--primary);
}
.input-field-container > .custom-label {
  color: var(--primary);
  font-weight: 500;
  font-size: 17.525px;
  line-height: 26px;
}
.custom-label-input {
  background: #121538 !important;
}
.input-field-box {
  margin-top: 0.4em;
}
.input-field-box > input,
.input-field-box > textarea {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  border: 1px solid #121638;
  border-radius: 4px;
  padding: 0.7em 1em;
  font-size: 15.5px;
  line-height: 23px;
  color: var(--primary);
  font-family: "Poppins";
}
.input-field-box > textarea {
  overflow-y: scroll;
  resize: none;
}
.input-field-box > input:focus,
.input-field-box > textarea:focus {
  border-color: var(--active-input);
}
.input-field-box > textarea::-webkit-scrollbar {
  width: 4px;
}
.input-field-box > textarea::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}
.input-field-box > input::placeholder,
.input-field-box > textarea::placeholder {
  font-size: 13px;
  line-height: 18px;
  color: var(--placeholder);
}
