.flex-right-align {
  display: flex;
  justify-content: flex-end;
}
.user-profile-section {
  display: flex;
  align-items: center;
  width: 30%;
}
.user-profile-details {
  margin-left: 0.5em;
}
.user-profile-details > h3 {
  font-weight: 600;
  font-size: 11.32px;
  line-height: 15px;
  color: var(--primary);
}
.user-profile-details > p {
  font-weight: 300;
  font-size: 11.32px;
  line-height: 17px;
  color: var(--primary);
}
.user-logout-btn {
  background: var(--btn-bg);
  padding: 0.7em 1em;
  display: flex;
  align-items: center;
  height: 40px;
  width: 120px;
  margin-left: auto;
  border-radius: 4px;
}
.user-logout-btn > span {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--red);
  margin-left: 0.5em;
}
