/* styling for server leaver  */
.servre-leaver-toggler {
  color: var(--primary);
  display: flex;
}
.servre-leaver-toggler > .all {
  margin-left: 2em;
  margin-right: 1em;
}
/* styling for nick name changer  */
.nickname-row {
  display: flex;
  width: 100%;
  position: relative;
}
.refresh {
  margin-left: auto;
  position: absolute;
  right: 0;
  top: -0.5em;
}
.flex-col {
  flex-direction: column;
}
.refresh > img {
  position: absolute;
  left: 5px;
}
.custom-btn-right {
  position: absolute;
  right: 0;
  bottom: -18%;
  z-index: 2;
}
.custom-btn-left {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: -18%;
}
/* DIRECT JOIN AND MASS JOIN */
.toogler-group-dj {
  width: 70%;
  justify-content: space-between;
}
.toggler-btn-label {
  color: var(--primary);
  width: 100%;
}
.toggler-slide-one {
  justify-content: space-between;
  width: 60%;
  font-size: 12px;
}
.toggler-btn-label > .custom-toggler-btn {
  justify-content: space-between;
  width: 21%;
}
.toggler-btn-label > label {
  font-size: 13.149px;
}
.toggler-btn-label > .custom-toggler-btn > label {
  font-size: 13.149px;
  line-height: 20px;
}
.react-fields {
  justify-content: space-between;
}
.react-fields > div {
  width: 30%;
}
.emoji-tray-picker {
  position: absolute;
  z-index: 2;
  left: 51%;
  top: 1%;
}
.joiner-custom-toggle {
  display: flex;
  justify-content: space-between;
}
.joiner-custom-toggle > label {
  margin-left: 5px;
}
.react-joiner-setting-section {
  display: flex;
  justify-content: space-between;
}
.react-joiner-setting-section > div {
  width: 32%;
}
.emoji-tray-picker {
  position: absolute;
  z-index: 2;
  left: 51%;
  top: 6%;
}
.mj-slide {
  padding: 0 5px;
}

.css-g1d714-ValueContainer {
  overflow-y: scroll !important;
  height: 55px !important;
}

.css-g1d714-ValueContainer::-webkit-scrollbar {
  width: 5px;
}
.css-g1d714-ValueContainer::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-bg);
  border-radius: 10px;
}

.refresh-btn {
  border-radius: 3px;
  background-color: var(--btn-bg);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5em;
  margin: 0 0 0 6px;
  cursor: pointer;
}

.img-field {
  width: 100%;
  outline: none;
  background: transparent;
  border: 1px solid #121638;
  border-radius: 4px;
  padding: 0.4em 0.4em;
  color: var(--primary);
  font-size: 13px;
  height: 3rem;
  line-height: 2rem;
  position: relative;
}
.img-field > span {
  color: var(--placeholder);
  z-index: 0;
  padding-left: 10px;
}
.img-field > span > .default {
  color: var(--primary);
  font-size: 13px;
}

.img-field > input {
  -webkit-appearance: none;
  opacity: 0;
  position: absolute;
  z-index: 10;
  height: 100%;
  left: 0;
  top: 0;
}
.img-lable {
  font-weight: 500;
  font-size: 13.149px;
  line-height: 20px;
  color: var(--primary);
  margin-bottom: 10px;
}
.gc-toggler {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
