.flex-link-opener-btns {
  display: flex;
}
.linkopener-acc {
  display: flex;
  height: 40px;
  align-items: center;
  background: var(--btn-bg);
  padding: 0px 1em;
  border-radius: 7px;
  margin-left: 0.5em;
}
.linkopener-acc > span {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: var(--primary);
  margin-left: 01em;
}
.linkopener-acc > img {
  height: 15px;
}
