.dashboard {
  background-color: var(--app-bg);
}
.dashboard > h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20.4556px;
  line-height: 31px;
  color: var(--primary);
  width: 93%;
  margin: 1.5% auto 0 auto;
}
.dashboard-buttons {
  display: flex;
  flex-wrap: wrap;
}
.dashboard-chart {
  display: flex;
}
