.chartlabel {
  width: 30%;
  display: flex;
  padding-top: 8%;
  align-items: end;
  color: white;
  flex-direction: column;
}
.chartlabel > div {
  width: 70%;
  margin-top: 10px;
  margin-left: auto;
}
.chartlabel > div > img {
  margin-right: 20px;
}
