.group-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.group-title > span {
  font-weight: 500;
  font-size: 20px;
  color: var(--primary);
}
.group-title.btn {
  height: 30px;
  width: 30px;
  background: #131a3c;
  border-radius: 5px;
  cursor: pointer;
  /* margin-left: 25px; */
}
.group-title.btn > img {
  height: 16px;
  margin-left: -3px;
}
