.group-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-title-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.group-title-card > span {
  font-weight: 500;
  font-size: 20px;
  color: var(--primary);
}
.group-title-card-btn {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  justify-content: center;
  position: absolute;
  right: 0;
  cursor: pointer;
  background: var(--btn-bg);
  display: flex;
  align-items: center;
}
.group-title-card-btn > img {
  height: 16px;
  object-fit: contain;
}
