.twitter-scroller-outer {
  height: 100%;
}
.twitter-scroller-outer > h3 {
  font-weight: 500;
  font-size: 17.525px;
  line-height: 26px;
  color: var(--primary);
}
.twitter-scroller-inner {
  background: var(--sidebar-bg);
  border-radius: 7px;
  padding: 1em;
  height: calc(100% - 35px);
}
.twitter-scroller-del-btn {
  width: 40px;
  height: 40px;
  background: var(--btn-bg);
  border-radius: 3.65278px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  box-shadow: 0px 2.92083px 2.92083px rgba(0, 0, 0, 0.25);
}
.twitter-scroller-del-btn > img {
  height: 18px;
}
.scroll-card-content {
  height: calc(100% - 40px);
  display: block;
  overflow-y: scroll;
}
