.custom-checkbox {
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
}
.custom-checkbox > input {
  position: absolute;
  opacity: 0;
}
.custom-checkbox > label {
  width: 15px;
  height: 15px;
  background: transparent;
  border: 1px solid var(--primary);
  border-radius: 4px;
}
.custom-checkbox > input:checked + label {
  background: transparent;
}
.custom-checkbox > input:checked + label::after {
  content: '\2714';
  font-size: 10px;
  display: flex;
  height: 100%;
  align-items: center;
  background: transparent;
  justify-content: center;
  color: var(--primary);
}
