.setting-page-outer {
  background: var(--app-bg);
  height: 100vh;
  background-image: url(../../assests/images/setting-top.svg),
    url(../../assests/images/setting-left.svg),
    url(../../assests/images/setting-right.svg);
  background-position: 50% 70px, 10% 100%, 100% 80%;
  background-repeat: no-repeat;
}
.setting-page-padding {
  padding: 0px 2em;
  height: calc(100% - 70px);
}
.setting-page-section-col {
  display: flex;
  justify-content: space-between;
  height: 350px;
}

.setting-page-section-col .setting-global-section {
  width: 49%;
}
.setting-page-section-col .chrome-user-section {
  width: 24%;
  height: 100%;
}
.setting-page-section-col .chrome-user-section > div {
  height: 100%;
}
.setting-page-section-col .claimer-group-section {
  width: 24%;
}
