.input-field-with-scroll-outer {
  height: 100%;
}
.input-field-with-scroll-outer > h4 {
  font-weight: 500;
  font-size: 17.525px;
  line-height: 26px;
  color: var(--primary);
}
.input-field-with-scroll-inner {
  background: var(--sidebar-bg);
  padding: 1em;
  border-radius: 7.30208px;
  height: calc(100% - 41px);
}
.input-field-flex {
  display: flex;
  align-items: center;
  height: 40px;
}
.input-field-flex > input {
  background: #121538;
  outline: none;
  flex: 1;
  padding: 0px 1em;
  border: 1px solid transparent;
  height: 100%;
  border-radius: 7.30208px;
  font-weight: normal;
  font-size: 11.3182px;
  line-height: 17px;
  color: var(--primary);
}
.input-field-flex > input::placeholder {
  font-weight: normal;
  font-size: 11.3182px;
  line-height: 17px;
  color: #706a6a;
}
.input-field-flex > input:focus {
  border-color: var(--active-input);
}
.input-field-flex > .plus-icon-btn {
  width: 40px;
  height: 100%;
  background: #121538;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7.30208px;
  margin-left: 10px;
  box-shadow: 0px 2.92083px 2.92083px rgba(0, 0, 0, 0.25);
}
.input-field-flex > .plus-icon-btn > img {
  height: 16px;
}
.input-field-with-scroll-inner > .scroll-list {
  height: calc(100% - 50px);
  overflow-y: scroll;
}
.input-field-with-scroll-inner > .scroll-list::-webkit-scrollbar,
.scroll-card-content::-webkit-scrollbar,
.spoofer-table-scroller::-webkit-scrollbar {
  width: 4px;
}
.input-field-with-scroll-inner > .scroll-list::-webkit-scrollbar-thumb,
.scroll-card-content::-webkit-scrollbar-thumb,
.spoofer-table-scroller::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 14px;
}
.input-field-with-scroll-inner > .scroll-list > .scroll-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 1px;
  margin-bottom: 0.3em;
}
.input-field-with-scroll-inner > .scroll-list > .scroll-list-item > span {
  font-weight: normal;
  font-size: 11.3182px;
  line-height: 17px;
  color: var(--primary);
}
/* log sectoin css */
.input-field-flex-log-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}
.input-field-flex-log-section > .plus-icon-btn {
  width: 40px;
  height: 100%;
  background: #121538;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7.30208px;
  margin-left: 20px;
  box-shadow: 0px 2.92083px 2.92083px rgba(0, 0, 0, 0.25);
}
/* coming soon css */
.input-field-with-scroll-inner > .coming-soon-feature {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-field-with-scroll-inner > .coming-soon-feature > p {
  font-weight: 500;
  font-size: 16.3182px;
  line-height: 17px;
  color: var(--primary);
}
