.footer-app-status {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  position: fixed;
  background: var(--main-bg);
  bottom: 0;
  left: var(--sidebar-width);
  right: 0;
  padding: 0px 1em;
}
.footer-connection-status {
  display: flex;
  align-items: center;
}
.footer-connection-status > span {
  margin-left: 5px;
  font-weight: normal;
  font-size: 13.1437px;
  line-height: 20px;
}
.footer-connection-status > img {
  height: 16px;
}
