.custom-twitter-label > h3 {
  font-weight: 500;
  font-size: 17.525px;
  line-height: 26px;
  color: var(--primary);
}
.toogle-wrapper {
  justify-content: space-between;
}
.toogle-wrapper > .switch-with-text {
  max-width: unset;
  width: 48.5%;
  padding: 0.8em;
}
.switch-with-text {
  display: flex;
  background: var(--sidebar-bg);
  border-radius: 5px;
  align-items: center;
}
.switch-with-text > span {
  color: var(--primary);
  font-weight: 600;
  font-size: 13.1437px;
  line-height: 20px;
  margin-left: 0.8em;
}
