.tbl-header {
  background: var(--sidebar-bg);
  padding: 0.7em 1em;
  border-radius: 5px;
}
.tbl-header-inner {
  display: flex;
  align-items: center;
  width: 99.5%;
}
.tbl-header-inner > .tbl-header-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: var(--scrollbar-bg);
  text-transform: capitalize;
}
.tbl-header-inner > .tbl-header-title:nth-child(1) {
  width: 10%;
}
.tbl-header-inner > .tbl-header-title:nth-child(2) {
  width: 20%;
}
.tbl-header-inner > .tbl-header-title:nth-child(3) {
  width: 20%;
}
.tbl-header-inner > .tbl-header-title:nth-child(4) {
  width: 20%;
}
.tbl-header-inner > .tbl-header-title:nth-child(5) {
  width: 20%;
}
.tbl-header-inner > .tbl-header-title:nth-child(6) {
  width: 20%;
}

.table-body-scroll {
  height: 70vh;
  overflow-y: scroll;
}
.table-body-scroll::-webkit-scrollbar,
.acc-changer-table-scroller::-webkit-scrollbar {
  width: 5px;
}
.table-body-scroll::-webkit-scrollbar-thumb,
.acc-changer-table-scroller::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 10px;
}
