.app-switch-container {
  display: flex;
  align-items: center;
}
.app-switch-container > input {
  position: relative;
  -webkit-appearance: none;
  width: 40px;
  height: 20px;
  border-radius: 60px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.5s ease-in-out;
  background: #706a6a;
}
.app-switch-container > input:checked {
  background: var(--start);
}
.app-switch-container > input::before {
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  content: "";
  width: 15px;
  height: 15px;
  background: var(--app-bg);
  border-radius: 60px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.app-switch-container > input:checked::before {
  transform: translateX(130%) translateY(-50%);
  animation: press 0.5s ease-in-out forwards;
}
