/* **************FONT FAMILY POPPINS****************** */
@font-face {
  font-family: 'POPPINS BOLD';
  src: url('../../assets/fonts/poppins-font/Poppins-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'POPPINS MEDIUM';
  src: url('../../assets/fonts/poppins-font/Poppins-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'POPPINS LIGHT';
  src: url('../../assets/fonts/poppins-font/Poppins-Light.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'POPPINS REGULAR';
  src: url('../../assets/fonts/poppins-font/Poppins-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'POPPINS SEMIBOLD';
  src: url('../../assets/fonts/poppins-font/Poppins-SemiBold.ttf');
  font-display: swap;
}

/* ------override slider dots------ */

.slick-dots > li {
  height: 2px !important;
  margin-right: 30px !important;
  width: 34px !important;
}
.slick-dots > li > button {
  width: 35px !important;
  background-color: rgba(255, 255, 255, 0.7) !important;
  height: 2px !important;
  padding: 0 !important;
  border-radius: 2px !important;
  opacity: 0.7;
}

.slick-dots > li > button::before {
  color: rgba(255, 255, 255, 0.7);
  height: 2px !important;
  content: '' !important;
}

.slick-active > button {
  transform: scaleY(1.7) !important;
  background-color: transparent !important;
  opacity: 1 !important;
}
.slick-dots .slick-active {
  background-color: white !important;
}

/* ------fix the height of table----- */

.tasks-table {
  height: calc(93vh - 240px);
}
/* ---------- */
.cards-container {
  height: calc(93vh - 346px);
}

/* ----for drag----- */
.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

/* ----menu buttons---- */
.menu-buttons {
  -webkit-app-region: no-drag;
}

/* -----------customize scrollbar-------------- */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  color: #0d0b0b;
}

::-webkit-scrollbar-thumb {
  background: #00a99d;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* -------Line bg---------- */

.line_bg {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 51.56%,
    rgba(255, 255, 255, 0) 100%
  );
}
