/* light mode classes  */

.lightModeSidebar {
  background: var(--lightMode-sidebar-bg) !important;
}

.activeLink {
  background: var(--lightMode-activeLink) !important;
}

.lightModePage-section {
  color: var(--lightMode-text-color);
  background: var(--lightMode-page-section) !important;
}
.lightMode_color {
  color: var(--lightMode-text-color) !important;
}
.lightBg {
  background: var(--lightMode-bg) !important;
}

.paragraph-color {
  color: var(--lightMode-text) !important;
}

.LightMode-LogOutBtn {
  background: #e4e7ea !important;
  box-shadow: 0px 2.92083px 2.92083px rgba(0, 0, 0, 0.25) !important;
}

.lightModeInput {
  color: #0d0027 !important;
}
.lightModeInput::placeholder {
  color: #0d0027 !important;
}

/* app.css */
.app {
  display: flex;
  height: 100vh;
  width: 100%;
  background: var(--app-bg);
}

.app.sidebar {
  width: var(--sidebar-width);
  height: 100%;
  background: var(--sidebar-bg);
}

.app.page-section {
  width: calc(100% - var(--sidebar-width));
  box-sizing: border-box;
}

.overlay-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#kyro-bot {
  position: absolute;
  right: 0%;
  top: 20%;
  opacity: 0.2;
  height: 400px;
  animation: botMove 1s ease-in-out infinite;
}
#kyro-bot-no-animation {
  position: absolute;
  right: 0%;
  top: 20%;
  opacity: 0.2;
  height: 400px;
  animation: unset !important;
}
#kyro-chip {
  position: absolute;
  right: 0;
  top: 65%;
  opacity: 0.8;
  height: 200px;
}

@keyframes botMove {
  0%,
  100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
}

/* OVERLAY */
.page-section-overlay {
  position: absolute;
  top: 0%;
  left: 0;
  height: 100%;
  width: 100%;
  /* padding: 0px 20px 30px 20px; */
}

/* PAGES SECTION CSS */
.btn {
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.6;
}

/* progress toaster */
.notification {
  display: flex;
  align-items: center;
}
.notification-title {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  margin-left: 1em;
}
.notification-title > span {
  font-weight: 600;
  margin-left: 0.5em;
}
.notification-image {
  width: 30px;
  height: 30px;
  border-radius: 2px;
}
.notification-image > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 2px;
}
.page-section {
  height: 100%;
  width: 100%;
  display: flex;
}
.left-container {
  height: 100%;
  width: 18%;
  border-right: 0.5px solid #131b3c;
}
.group-card-scroll {
  height: 50vh;
  padding: 0px 20px;
}
.right-container {
  width: calc(100% - 18%);
}
.page-padding-section {
  padding: 0px 1em;
}

/* TOP BTNS CSS IN PROXY , SPOOFER , ACC CHNAGER PAGE */
.page-top-btns-wrapper {
  display: flex;
  height: 40px;
}
.page-top-btns-wrapper > .page-left-container,
.page-top-btns-wrapper > .page-right-container {
  display: flex;
  align-items: center;
  width: 50%;
}
.page-top-btns-wrapper > .page-left-container.spoofer-page {
  width: 100%;
}
.page-top-btns-wrapper > .page-right-container {
  justify-content: flex-end;
}
.page-top-search-container {
  display: flex;
  align-items: center;
  background: var(--btn-bg);
  height: 100%;
  min-width: 256px;
  margin-right: 10px;
  padding: 0px 0.5em;
  opacity: 0.82;
  border-radius: 5px;
}

.page-top-search-container > img {
  height: 18px;
  margin-right: 0.3em;
}
.page-top-search-container > input {
  background: transparent;
  outline: none;
  border: none;
  flex: 1;
  font-size: 15.5px;
  line-height: 23px;
  color: var(--primary);
}

.page-top-search-container > input::placeholder {
  font-size: 15.5px;
  line-height: 23px;
  color: var(--primary);
  opacity: 0.5;
}
.icon-btn-wrapper {
  width: 40px;
  height: 40px;
  background: var(--btn-bg);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}
.icon-btn-wrapper > img {
  height: 20px;
  padding-top: 2px;
}
.remove-btn {
  display: flex;
  align-items: center;
  background: var(--btn-bg);
  height: 100%;
  padding: 0px 0.7em;
  border-radius: 5px;
}
.remove-btn > span {
  font-size: 15.5px;
  line-height: 23px;
  color: var(--red);
  margin-left: 8px;
}

/* spoofer page css */
.btn-with-no-icon {
  margin-left: 0.5em;
  padding: 0px 1.5em;
}
.btn-with-no-icon.remove-btn > span {
  margin-left: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--active-input);
}
.import-file-btn {
  position: relative;
}
.import-file-btn > input {
  -webkit-appearance: none;
  opacity: 0;
}
.import-file-btn > label {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  left: 0;
  cursor: pointer;
}
.import-file-btn > img {
  position: absolute;
  left: 8px;
}
