.options {
  display: flex;
  width: 100%;
  background-color: #171138;
  padding: 12px 10px;
  border-radius: 8px;
}
.options > img {
  margin-right: 10px;
}
.options > p {
  width: 92%;
  font-style: normal;
  font-weight: 600;
  font-size: 11.8944px;
  line-height: 18px;
  color: var(--primary);
}
