.coming-soon-modal-wrapper {
  position: fixed;
  top: 0;
  left: var(--sidebar-width);
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 10;
  backdrop-filter: blur(5px);
}
.coming-soon-modal-inner {
  position: absolute;
  width: 30%;
  top: 50%;
  left: 50%;
  padding: 1.8em 2.5em;
  background: var(--app-bg);
  transform: translate(-50%, -50%);
  border-radius: 10px;
  /* background-image: url(../../assests/images/small-bot.svg); */
  background-repeat: no-repeat;
  background-position: 95% 30px;
  background-blend-mode: overlay;
  /* -webkit-box-shadow: 10px 10px 134px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 134px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 134px 0px rgba(0, 0, 0, 0.75); */
  -webkit-box-shadow: 10px 10px 134px 162px rgba(255, 255, 255, 0.05);
  -moz-box-shadow: 10px 10px 134px 162px rgba(255, 255, 255, 0.05);
  box-shadow: 10px 10px 134px 162px rgba(255, 255, 255, 0.05);
}

.coming-soon-modal-title {
  font-weight: 600;
  font-size: 20.4539px;
  line-height: 31px;
  color: var(--primary);
  text-align: center;
}
.coming-soon-modal-lock {
  display: flex;
  justify-content: center;
}
