.centerd {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-button {
  width: 17.2%;
  background: var(--active-card);
  border-radius: 3.9px;
  padding: 17px 0;
  text-decoration: none;
  color: var(--primary);
  margin: 20px 0 0 30px;
}
.dashboard-button > img {
  width: 12%;
  margin-right: 16px;
}
.dashboard-button > div {
  flex-direction: column;
}
.dashboard-button > div > .text,
.value {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11.8944px;
  line-height: 18px;
}
